.u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-1 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-1 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-1 .u-video-poster-1 {
  background-image: url("images/Godzilla-Kong-Film-5421a1.jpg");
}

.u-section-2-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-1 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-1 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-1 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-1 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 28px;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-2 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-2 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-2-2 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-2 .u-video-poster-1 {
  background-image: url("images/A-Quiet-Place-film.jpg");
}

.u-section-2-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-2 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-2 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-2 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-2 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-2 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-3 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-3 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-3 .u-video-poster-1 {
  background-image: url("images/quiet-place-2.jpg");
}

.u-section-2-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-3 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-3 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-3 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-3 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-3 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-4 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-4 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-4 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-4 .u-video-poster-1 {
  background-image: url("images/The-Suicide-Squad-Online-Quad-1200.jpg");
}

.u-section-2-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-4 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-4 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-4 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-4 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-4 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-5 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-5 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-5 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-5 .u-video-poster-1 {
  background-image: url("images/3975850.webp");
}

.u-section-2-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-5 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-5 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-5 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-5 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-5 .u-btn-1 {
    font-size: 1rem;
    margin-top: 16px;
    margin-bottom: 28px;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-6 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-6 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-6 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-6 .u-video-poster-1 {
  background-image: url("images/1-152394173625611810640041.jpg");
}

.u-section-2-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-6 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-6 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-6 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-6 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-6 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-6 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-7 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-7 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-7 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-7 .u-video-poster-1 {
  background-image: url("images/MV5BM2FkZjM5ODUtMGM0OC00ZTk2LWFjZDYtNmIzMGRhZWY0MjExXkEyXkFqcGdeQXVyNDgyODgxNjE._V1_1.jpg");
}

.u-section-2-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-7 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-7 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-7 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-7 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-7 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-7 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-2-8 {
  background-image: none;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2-8 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-2-8 .u-video-1 {
  height: 661px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 31px 0 0;
}

.u-section-2-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-8 .u-video-poster-1 {
  background-image: url("images/4308800_A-Silent-Voice-The-Movie.jpg");
}

.u-section-2-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 21px auto 58px;
  padding: 9px 104px 11px 103px;
}

@media (max-width: 1199px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2-8 .u-video-1 {
    height: 545px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2-8 .u-video-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2-8 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2-8 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2-8 .u-video-1 {
    height: 197px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-8 .u-btn-1 {
    font-size: 1rem;
    padding: 3px 29px 3px 28px;
  }
}.u-section-1 {
  background-image: url("images/c94d2cd74ef39c611652676879395d078bb508276872fcda542c952730b86dfe2f20aa4fafbcc23a1c334d6a94f45b4f5d42e780074dc2d5025112_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 6rem;
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  margin: 105px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 26px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 26px auto 75px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 221px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin: 167px 54px 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin: 98px auto 32px;
  }
}.u-block-33c3-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: calc(((100% - 1140px) / 2)  + 463px);
  right: auto;
  bottom: 34px;
}

.u-block-33c3-3 {
  background-image: none;
  width: 49px;
  height: 49px;
  left: calc(((100% - 1140px) / 2)  + -69px);
  top: 406px;
  position: absolute;
  right: auto;
}

.u-block-33c3-4 {
  background-image: none;
  width: 49px;
  height: 49px;
  left: auto;
  top: 408px;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + -67px);
}

@media (max-width: 1199px) {
  .u-block-33c3-5 {
    left: calc(((100% - 940px) / 2)  + 363px);
  }

  .u-block-33c3-3 {
    left: calc(((100% - 940px) / 2)  + -57px);
  }

  .u-block-33c3-4 {
    right: calc(((100% - 940px) / 2)  + -55px);
  }
}

@media (max-width: 991px) {
  .u-block-33c3-5 {
    left: calc(((100% - 720px) / 2)  + 253px);
  }

  .u-block-33c3-3 {
    left: calc(((100% - 720px) / 2)  + -44px);
  }

  .u-block-33c3-4 {
    right: calc(((100% - 720px) / 2)  + -42px);
  }
}

@media (max-width: 767px) {
  .u-block-33c3-5 {
    left: calc(((100% - 540px) / 2)  + 163px);
  }

  .u-block-33c3-3 {
    left: calc(((100% - 540px) / 2)  + -33px);
  }

  .u-block-33c3-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-33c3-5 {
    left: calc(((100% - 340px) / 2)  + 63px);
  }

  .u-block-33c3-3 {
    left: calc(((100% - 340px) / 2)  + -21px);
  }

  .u-block-33c3-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-3 {
  min-height: 100px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/a0167f15b4ebb15ee68799f2e33ab2dd10016acc10f25abef2b8da4a173257d99e7ce2afe2b0b5da08632894a30aba4fbb7dca51b0d04c635298ca_1280.jpg");
  min-height: 496px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 575px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 37px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 32px 23px 0;
}

.u-section-3 .u-video-1 {
  width: 510px;
  height: 287px;
  margin: 47px 533px 0 23px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-2 {
  width: 510px;
  height: 287px;
  margin: -287px 0 0 auto;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 386px;
  }

  .u-section-3 .u-image-1 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-1 {
    margin-right: 357px;
    margin-left: 0;
  }

  .u-section-3 .u-video-2 {
    margin-top: 20px;
    margin-right: 357px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-3 .u-image-1 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 798px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-video-2 {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 574px;
  }

  .u-section-3 .u-image-1 {
    min-height: 563px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 862px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-video-2 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-image-1 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-3 .u-video-2 {
    width: 320px;
    height: 180px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 417px;
}

.u-section-4 .u-video-1 {
  width: 510px;
  height: 286px;
  background-image: none;
  margin: 0 auto 0 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-2 {
  width: 510px;
  height: 286px;
  background-image: none;
  margin: -286px 32px 0 auto;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 39px 481px 39px auto;
  padding: 15px 30px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-video-1 {
    margin-left: auto;
  }

  .u-section-4 .u-video-2 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 46px;
    margin-left: auto;
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-4 .u-video-1 {
    height: 180px;
    width: 320px;
    margin-top: 17px;
  }

  .u-section-4 .u-video-2 {
    height: 180px;
    width: 320px;
    margin-top: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-bottom: 60px;
    padding: 10px 15px 11px;
  }
}